{% extends "flopeditor/base.html" %}
{% load static %}

{% block link %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'flopeditor/css/bootstrap-select.min.css' %}">
{% endblock %}

{% block body-class %}bg-dark{% endblock %}

{% block main-class %}container h-100{% endblock %}

{% block navbar %} {% endblock %}
{% block content-flopeditor %}







<div class="row h-100 justify-content-center align-items-center text-center text-white">
  <div class="col-12" style="pointer-events:none">
      <h1 class="display-1 mb-4"><strong>flop!EDITOR</strong></h1>
      <p class="lead mb-4">
          Choix du département à éditer :
      </p>
      <div class="department-list row" style="pointer-events:auto">
        {% for dept,resps in dict_depts.items %}
        <div class="col-12">
          <div class="btn-group mb-3" role="group">
            <a href="{% url 'flopeditor:flopeditor-department-default' department_abbrev=dept.abbrev %}" style="min-width: 200px;" type="button" class="btn btn-raised btn-secondary">{{ dept.name }}</a>
            {% if request.user.is_superuser %}
            <button type="button" class="btn btn-raised btn-secondary" title="Modifier" data-toggle="modal" data-target="#modal-update-department-{{ dept.abbrev }}"><i class="fas fa-pencil-alt"></i></button>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>

      {% if request.user.is_superuser %}
      <p class="lead" style="pointer-events:auto">
          Vous pouvez aussi créer un nouveau département <button type="button" class="btn btn-secondary bmd-btn-fab bmd-btn-fab-sm mt-1" data-toggle="modal" data-target="#modal-create-department">ici</button>
      </p>
      {% endif %}

  </div>
</div>
{% endblock %}

{% block modal %}

{{ block.super }}

{% if request.user.is_superuser %}
<div class="modal fade text-black" id="modal-create-department" tabindex="-1" role="dialog" aria-labelledby="modal-create-department" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Créer un département</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-0">
                <form class="modal-form" action="{% url 'flopeditor:flopeditor-ajax-create-department' %}">
                    {% csrf_token %}
                    <div class="form-inline">
                        <label for="inputNomDep" class="col-form-label col-sm-4">Nom</label>
                        <div class="col-sm-8">
                            <input name="nomDep" maxlength="50" type="text" class="new_dept_name form-control w-100" id="inputNomDep" placeholder="Exemple: Informatique" required>
                        </div>
                    </div>
                    <div class="form-inline mt-4">
                        <label for="inputAbbrev" class="col-form-label col-sm-4">Abréviation</label>
                        <div class="col-sm-8">
                            <input name="abbrevDep" maxlength="7" type="text" class="new_dept_abbrev form-control w-100" id="inputAbbrev" placeholder="Exemple: INFO" required>
                        </div>
                    </div>
                    <div class="form-inline mt-4">
                        <label for="inputResp" class="resps col-form-label col-sm-4">Responsable</label>
                        <div class="col-sm-8">
                            <select class="selectpicker" data-live-search=true multiple name="respsDep" id="inputResp">
                                {% for admin in admins %}
                                <option value="{{ admin.id }}">{{ admin.last_name }} {{ admin.first_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-message alert mt-4 mr-2 ml-2 mb-0" role="alert" style="display:none;border-radius:5px;"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Annuler</button>
                <button type="button" class="button-submit btn btn-raised btn-info">Créer</button>
            </div>
        </div>
    </div>
</div>
{% for dept,resps in dict_depts.items %}
<div class="modal fade text-black" id="modal-update-department-{{ dept.abbrev }}" tabindex="-1" role="dialog" aria-labelledby="modal-update-department-{{ dept.abbrev }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modifier un département</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-0">
                <form class="modal-form" action="{% url 'flopeditor:flopeditor-ajax-update-department' %}">
                    {% csrf_token %}
                    <input name="oldNomDep" class="old_dept_name" value="{{ dept.name }}" hidden>
                    <input name="oldAbbrevDep" class="old_dept_abbrev" value="{{ dept.abbrev }}" hidden>
                    <div class="form-inline">
                        <label for="inputNomDep" class="col-form-label col-sm-4">Nom</label>
                        <div class="col-sm-8">
                            <input name="newNomDep" maxlength="50" type="text" class="new_dept_name form-control w-100" id="newNomDep" value="{{ dept.name }}" placeholder="Exemple: Informatique" required>
                        </div>
                    </div>
                    <div class="form-inline mt-4">
                        <label for="inputAbbrev" class="col-form-label col-sm-4">Abréviation</label>
                        <div class="col-sm-8">
                            <input name="newAbbrevDep" maxlength="7" type="text" class="new_dept_abbrev form-control w-100" id="newAbbrevDep" value="{{ dept.abbrev }}" placeholder="Exemple: INFO" required>
                        </div>
                    </div>
                    <div class="form-inline mt-4">
                        <label for="inputResp" class="col-form-label col-sm-4">Responsable</label>
                        <div class="col-sm-8">
                            <select class="resps selectpicker" data-live-search=true multiple name="respsDep-{{ dept.abbrev }}" id="inputResp">
                                {% for admin in admins %}
                                <option value="{{ admin.id }}">{{ admin.last_name }} {{ admin.first_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-message alert mt-4 mr-2 ml-2 mb-0" role="alert" style="display:none;border-radius:5px;"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Annuler</button>
                <button type="button" class="button-submit btn btn-raised btn-info">Modifier</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}

{% endblock %}

{% block script %}
{{ block.super }}
<script src="{% static 'flopeditor/js/bootstrap-select.min.js' %}" charset="utf-8"></script>
<script type="text/javascript">
  $(function () {
    {% for dept,resps in dict_depts.items %}
    $('select[name=respsDep-{{ dept.abbrev }}]').val({{ resps }});
    $('select[name=respsDep-{{ dept.abbrev }}]').selectpicker();
    {% endfor %}
    $('.selectpicker').selectpicker('render');
  });

</script>
<script src="{% static 'flopeditor/js/create-or-update-department.js' %}" charset="utf-8"></script>
{% endblock %}
